:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #1a1a1a;
  background-color:  #DEE2E6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------Nav Section---------------- */

.nav-wrapper {
  max-width: 1240px;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 45px;
  margin-top: 20px;
  background-color: #fff;
}

.nav-list {
  list-style-type: none;
}

li {
  margin-right: 25px;
  font-size: 18px;
}

.nav-button {
  margin-right: 14px;
  padding: 7px 25px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  background-color: orange;
}

/* --------------Sidebar Section-------------- */

.sidebar-container {
  display: flex;
  justify-content: end;
  height:86vh;
  width: 270px;
  position: fixed;
  right: 0;
  top: 75px;
  margin-right: 20px;
  border-radius: 5px;
  background-color:dimgray
}

.sidebar-wrapper {
  margin: 0 auto;
  width: 270px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 25px;
  font-family:sans-serif;
}

.drop-content {
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
}

.span-p {
  font-style: italic;
}

p {
  font-size: 17px;
  margin-right: 20px;
}

.side-button {
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  background-color: orange;
}
